<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Genius-style card generator</title>
    {% load static %}
    <script src="{% static 'geniuscards/js/jquery-3.7.0.min.js' %}"></script>
    <script src="{% static 'geniuscards/js/mainjs.js' %}"></script>
    <link rel="stylesheet" href="{% static 'geniuscards/css/styles.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
</head>
<header>
    <h1>Genius-style card generator</h1>
</header>
<body>
    <div id="selectorDiv">
        <input type="button" class="submitButton" id="selectMode" value="CREATE USING SPOTIFY">
        <img src="" id="infoButton" width="30px" height="30px"/>
    </div>
    <div id="localCreation">
        <form id="mainForm" action="/geniuscards/" method="post">
            {% csrf_token %}
            {% for field in form.visible_fields %}
              <div class="formField">
                {{ field.label_tag }} {{ field }}
              </div>
            {% endfor %}
            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}
            <div class="formField">
                <input type="submit" class="submitButton" value="CREATE IMAGE">
            </div>
        </form>
    <img src="{{encoded_image}}" id="mainImage" width="700px" height="700px">
    </div>
    <div id="spotifyCreation">
            <div class="column" id="spotifyCreationMainColumn">
                <div class="formField">
                    <label for="id_genius_song_author">Author</label>
                    <input type="text" id="id_genius_song_author" maxlength="100">
                </div>
                <div class="formField">
                    <label for="id_genius_song_song">Song</label>
                    <input type="text" id="id_genius_song_song" maxlength="100">
                </div>
                <div class ="formField" id="foundSongPanel">
                    <img id="foundSongCover" src="" height="200px" width="200px">
                    <div class="column">
                        <p id="foundSongName"></p>
                        <p id="foundSongArtist"></p>
                    </div>
                </div>
                <div class="formErrorDiv" id="geniusErrorDiv">
                    <p class="formErrorMessage" id="geniusErrorMessage">You must complete both fields</p>
                </div>
                <div class="formField">
                    <input type="button" class="submitButton" id="searchGenius" value="SEARCH LYRICS">
                    <input type="button" class="submitButton" id="generateImage" value="GENERATE IMAGE">
                </div>
            </div>
        <textarea id="geniusLyricsTextarea"></textarea>

        <img src="{{encoded_image}}" id="geniusImage" width="700px" height="700px">
    </div>

    <div id="tooltip">
        <p>To create an image: </p>
        <p> 1. Select your song by typing author(s) name and song title and press "search lyrics".</p>
        <p> 2. Select the part of the lyrics you want to show on the card by dragging your mouse over it. </p>
        <p> 3. Click on generate image. </p>
        <p> You can also click on "Create manually" to create a card with your own image and lyrics</p>
    </div>

</body>

<body>

</body>
</html>